@charset "UTF-8";

/* ====UrPresent Common Theme==== */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
* {
	font-family: 'Nanum Gothic';
}

.brandLogo {
	width: 30vw;
	min-width: 19rem;
}

/* ====userTopNavbar==== */
.topNavIcon {
	width: 1.875rem;
	height: 1.875rem;
}

/* ====userSideNavbar==== */
.sidebar {
	position: fixed;
	bottom: 0vh;
	right: 0vw;
 	display: flex;
	align-items: center;
	z-index: 1;
}

.sidebarItem {
	width: 5vw;
	min-width: 4rem;
}

.sidebarIcon {
	width: 2vw;
	min-width: 1.5rem;
	height: 2vw;
	min-height: 1.5rem;
}

.iconText {
	font-size: calc(8px + 0.2vw);
	display: inline-block;
}

.chatText {
	font-size: calc(7px + 0.1vw);
	display: inline-block;
}

/* ====userFooter==== */
.footer {
	position: relative;
	bottom: 0vh;
	margin: auto;
	width: 100vw;
}

/* ====userLoginForm==== */
.joinUs {
	width: 7rem;
}

/* ====userInputForm==== */
#emailVerificationMsg {
	color: brown;
}

/* ====userMain==== */
.cardItem {
	/* width: calc(97.52px + 13vw); */
	cursor: pointer;
	font-size: calc(12px + 0.2vw);
}

.rewindAndFastForward {
	width: 20px;
}

.returnAndForward {
	width: 9px;
}

@media only screen and (min-width: 320px) and (max-width: 364px) {
	.cardItem {
		width: 34vw;
	}
}

@media only screen and (min-width: 364px) and (max-width: 428px) {
	.cardItem {
		width: 35vw;
	}
}

@media only screen and (min-width: 428px) and (max-width: 520px) {
	.cardItem {
		width: 36vw;
	}
}

@media only screen and (min-width: 520px) and (max-width: 636px) {
	.cardItem {
		width: 37vw;
	}
}

@media only screen and (min-width: 636px) and (max-width: 1024px) {
	.cardItem {
		width: 25vw;
	}
}

@media only screen and (min-width: 1024px) and (max-width: 1600px) {
	.cardItem {
		width: 19vw;
	}
}


/*
===userInputForm.jsp===
.iconMargin img {
	margin-botton : -5px;
}
.form-group {
	margin-bottom: 0.8rem !important;
}

.btn_join .btn_cancel {
	
}
===userLoginForm.jsp===
body.login {
	margin-top: 5rem;
	-ms-flex-align: center;
	align-items: center;
	background-color: #f5f5f5;
	text-align: center;
}
.form-signin {
	width: 100%;
	max-width: 440px;
	padding: 15px;
	margin: auto;
}
.form-signin .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 10px;
	font-size: 16px;
}
.form-signin .form-control:focus {
 	z-index: 1;
}
.form-signin input[type="text"],.form-signin input[type="password"] {
	margin-bottom: -1px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
	margin-bottom: 10px;
} */